<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.refresh.plan.PlanMapper">

    <insert id="insPlan" useGeneratedKeys="true" keyProperty="iplan">
        INSERT INTO t_plan
        SET igroup = #{igroup}
        , iuser = #{iuser}
        , created_at = #{createdAt}
    </insert>

    <select id="selPlan">
        SELECT iplan, igroup, created_at createdAt
        FROM t_plan
        WHERE igroup = #{igroup}
        AND del_yn = 0
    </select>

    <update id="updPlan">
        UPDATE t_plan
        SET created_at = #{createdAt}
        WHERE iplan = #{iplan}
    </update>

    <update id="delPlan">
        UPDATE t_plan
        SET del_yn = 1
        WHERE iplan = #{iplan}
    </update>


</mapper>